{% extends 'base.html' %}
{#% import "material/wtf.html" as wtf %#}
{% from 'render_fields.html' import render_textfield, render_submitfield %}

{% block content %}
  <div class="container" style="margin-top: 81px">
    <div class="cstm-auth-content">
      <h3 class="cstm-center-text">Login</h3>
      <p class="cstm-center-text">Welcome back to <span class="cstm-logo">human</span></p>
      <form action="" method="post">
        {{ form.csrf_token }}
        {{ render_textfield(form.email, class='validate') }}
        {{ render_textfield(form.password, class='validate') }}
        {{ render_submitfield(form.submit, class='waves-effect waves-light btn cstm-white-text') }}
        
      </form>
    </div>
  </div>
{% endblock %}