{% extends 'base.html' %}

{% block content %}
  <div class="cstm-flex-column-justify-align-center cstm-container cstm-landing-page-background">
    <div class="cstm-banner-background cstm-flex-column-justify-align-center">
      <div class="cstm-banner cstm-white-text cstm-center-text">
        <div>
          <h1 class="cstm-logo cstm-logo-banner">human</h1>
          <h6>experience life through others' stories</h6>
          <div class="cstm-banner-actions">
            {% if current_user.is_authenticated %}
              <a href="/stories" class="waves-effect waves-light btn-flat cstm-white-text">view stories</a>
            {% else %}
              <a href="/stories" class="waves-effect waves-light btn-flat cstm-white-text">view stories</a>
              <a href="/authenticate/login" class="waves-effect waves-light btn-flat cstm-white-text">login</a>
              <a href="/authenticate/register" class="waves-effect waves-light btn-flat cstm-white-text">register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}