{% extends 'base.html' %}

{% block content %}
  <div class="container">
    {% if number_of_stories == 0 %}
      <div class="cstm-flex-column-align-center cstm-stories-content cstm-center-text">
        <h4 class="cstm-gutterbottom-0-5 cstm-guttertop-1">Stories haven't been posted...</h4>
        <h3 class="cstm-gutterbottom-0-5 cstm-guttertop-1">yet</h3>
        <p>Be the first to <a href='/story/add'>add a story</a>.</p>
      </div>
    {% else %}
      <div class="cstm-story-banner cstm-flex-column-justify-align-center cstm-center-text">
        <h4>experience the stories presented</h4>
      </div>
      <div class="row">
        {% for story in stories %}
          <div class="col s12 m4">
            <div class="card darken-1">
              <div class="card-content">
                <span class="card-title">{{ story.title }}</span>
                <p>{{ story.body[:150] + '...' }}</p>
                <p class="cstm-caption"> written by {{ story.user.name }} on {{ story.creation_date.strftime("%b %d %Y %H:%M:%S") }}</p>
              </div>
              <div class="card-action">
                <a href="">View full story</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
  <a href='/story/add' class="btn-floating btn-large waves-effect waves-light red cstm-fab-position"><i class="material-icons">add</i></a>
{% endblock %}

